.header {
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .menu-right {
    display: flex;
    justify-content: flex-end;
  }