.align-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
  }
  
  .text-align-center {
    text-align: center;
  }